body{
    min-height: 100vh;
    background-color: #9B7EBD !important;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

footer{
    padding-top: 2vh;
    height:auto;
    background-color: #6B2EA4;
    color: #eeeeee;
    text-align: center;
    margin-top: auto;
}

.socialt:before{
    content: url(../assets/twitter.svg);
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    filter: invert(99%) sepia(1%) saturate(6185%) hue-rotate(284deg) brightness(123%) contrast(87%);
}

.socialf:before{
    content: url(../assets/facebook.svg);
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    filter: invert(99%) sepia(1%) saturate(6185%) hue-rotate(284deg) brightness(123%) contrast(87%);
}
a{
    color:#EEEEEE !important;
    text-decoration: none !important;
}
.row_text_center
{
    display: flex;
    justify-content: space-evenly;
}
.violet {
    background-color: #6b2ea4;
  }

.Employee_Info
{
    text-align: center;
}

.image
{
    width: 30vh;
    height: 35vh;
}


.employee-card
{
    text-align: center;
    color: white;
    width: 30%;
    height:auto;
    margin: 0 auto;
}

#Employee_head
{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 1%;
    margin-bottom: 2%;
    color: white;
}

